.usage-list {
  .table {
    table-layout: fixed;
  }

  &-header {
    display: flex;
    justify-content: space-between;
  }

  .usage-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
  }
}
