.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.table {
  table-layout: fixed;
}

.colorSelector {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  cursor: pointer;
}
